@import "tailwindcss";
@custom-variant hover (&:hover);
@custom-variant group-hover (.group:hover &);
@custom-variant dark (&:where(.dark, .dark *));

@theme: {
  --color-brand-primary: #F97316;
  --color-brand-dark: #0F172A;
  --color-brand-muted: #F8FAFC;
}

/* .slide::-webkit-slider-thumb {
  appearance: none;
  background-color: aqua;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.slide {
  appearance: none;
  width: 200px;
  height: 16px;
  background-color: bisque;

} */